# Skip documentation builds
docs/_build
docs/jupyter_execute

# Python compiled files and cache
*.pyc
**/__pycache__
pysipfenn.egg-info

# ONNX and other local model files
**/*.onnx
**/*.mlpackage
**/*.pt

# Local descriptor data files
**/*descriptorData.npy

# Test and temporary files
**/*Test*.npy
**/*Test*.csv
**/*test*.npy
**/*test*.csv

# Any venv test
**/venv_**