# Skip documentation builds
docs/_build
docs/jupyter_execute

# Python compiled files and cache
*.pyc
**/__pycache__
pysipfenn.egg-info

# ONNX Models
*.onnx

# Test and temporary files
**/*_TestResult.csv
**/TestResult_*.csv