recursive-include pysipfenn/descriptorDefinitions *

recursive-include pysipfenn/tests/testCaseFiles *

include pysipfenn/modelsSIPFENN/models.json
include pysipfenn/modelsSIPFENN/README.md

prune example.workshop2023Feb
prune docs