name: Full Test

on: 
  pull_request:
    branches:
    - main
  push:
    paths:
      - '.github/workflows/fullTest.yaml'
  workflow_dispatch:

jobs:
  testPython309:
    runs-on: macos-12
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'
          cache: 'pip'
          cache-dependency-path: 'pyproject.toml'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade setuptools
          python -m pip install wheel flask pytest pytest-cov
          python -m pip install -e ".[dev]"
          
      - name: Download Models
        id: DownloadModelsAttempt1
        run: python -c "import pysipfenn; c = pysipfenn.Calculator(); c.downloadModels(); c.loadModels();"
        continue-on-error: true
    
      - name: Download Models Retry if failed the first time
        if: failure()
        run: python -c "import time; time.sleep(120); import pysipfenn; c = pysipfenn.Calculator(autoLoad=False); c.downloadModels(); c.loadModels();"
           
      - name: Test with pytest
        run: pytest --durations=0 --cov=pysipfenn --cov-report=xml
        env:
          MODELS_FETCHED: true
          
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
  
  testPython310:
    needs: testPython309
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'
          cache-dependency-path: 'pyproject.toml'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade setuptools
          python -m pip install wheel flask pytest
          python -m pip install -e ".[dev]"
      
      - name: Download Models
        id: DownloadModelsAttempt1
        run: python -c "import pysipfenn; c = pysipfenn.Calculator(); c.downloadModels(); c.loadModels();"
        continue-on-error: true
    
      - name: Download Models Retry if failed the first time
        if: failure()
        run: python -c "import time; time.sleep(120); import pysipfenn; c = pysipfenn.Calculator(autoLoad=False); c.downloadModels(); c.loadModels();"
           
      - name: Test with pytest
        run: pytest --durations=0
        env:
          MODELS_FETCHED: true
          
  testPython311:
    needs: testPython310
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'
          cache-dependency-path: 'pyproject.toml'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade setuptools
          python -m pip install wheel flask pytest
          python -m pip install -e ".[dev]"
      
      - name: Download Models
        id: DownloadModelsAttempt1
        run: python -c "import pysipfenn; c = pysipfenn.Calculator(); c.downloadModels(); c.loadModels();"
        continue-on-error: true
    
      - name: Download Models Retry if failed the first time
        if: failure()
        run: python -c "import time; time.sleep(120); import pysipfenn; c = pysipfenn.Calculator(autoLoad=False); c.downloadModels(); c.loadModels();"
           
      - name: Test with pytest
        run: pytest --durations=0
        env:
          MODELS_FETCHED: true
