name: Full Test

on: 
  pull_request:
    branches:
    - main
  push:
    paths:
      - '.github/workflows/fullTest.yaml'
  workflow_dispatch:

jobs:
  testPython310:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      
      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'
          cache-dependency-path: 'pyproject.toml'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install -e ".[dev,test]"
      
      - name: Download Models
        id: DownloadModelsAttempt1
        run: python -c "import pysipfenn; c = pysipfenn.Calculator(); c.downloadModels(); c.loadModels();"
        continue-on-error: true
    
      - name: Download Models Retry if failed the first time
        if: steps.DownloadModelsAttempt1.outcome == 'failure'
        run: python -c "import time; time.sleep(120); import pysipfenn; c = pysipfenn.Calculator(autoLoad=False); c.downloadModels(); c.loadModels();"
           
      - name: Test with pytest
        run: pytest --durations=0
        env:
          MODELS_FETCHED: true
          
  testPython311:
    needs: testPython310
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      
      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'
          cache-dependency-path: 'pyproject.toml'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install -e ".[dev,test]"
      
      - name: Download Models
        id: DownloadModelsAttempt1
        run: python -c "import pysipfenn; c = pysipfenn.Calculator(); c.downloadModels(); c.loadModels();"
        continue-on-error: true
    
      - name: Download Models Retry if failed the first time
        if: steps.DownloadModelsAttempt1.outcome == 'failure'
        run: python -c "import time; time.sleep(120); import pysipfenn; c = pysipfenn.Calculator(autoLoad=False); c.downloadModels(); c.loadModels();"
           
      - name: Test with pytest
        run: pytest --durations=0
        env:
          MODELS_FETCHED: true

  testPython312:
    needs: testPython311
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      
      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'
          cache-dependency-path: 'pyproject.toml'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install -e ".[dev,test]"
      
      - name: Download Models
        id: DownloadModelsAttempt1
        run: python -c "import pysipfenn; c = pysipfenn.Calculator(); c.downloadModels(); c.loadModels();"
        continue-on-error: true
    
      - name: Download Models Retry if failed the first time
        if: steps.DownloadModelsAttempt1.outcome == 'failure'
        run: python -c "import time; time.sleep(120); import pysipfenn; c = pysipfenn.Calculator(autoLoad=False); c.downloadModels(); c.loadModels();"
           
      - name: Test with pytest
        run: pytest --durations=0
        env:
          MODELS_FETCHED: true
