name: Full Test

on: [push, pull_request, release]

jobs:
  testPython309:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: 'pip'
          cache-dependency-path: 'pyproject.toml'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade setuptools
          python -m pip install wheel flask pytest pytest-cov
          python -m pip install -e ".[dev]"
          
      - name: Download Models
        run: python -c "import pysipfenn; c = pysipfenn.Calculator(); c.downloadModels(); c.loadModels();"
           
      - name: Test with pytest
        run: pytest --cov=pysipfenn --cov-report=xml
        env:
          MODELS_FETCHED: true
          
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
  
  testPython310:
    needs: testPython309
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: 'pip'
          cache-dependency-path: 'pyproject.toml'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade setuptools
          python -m pip install wheel flask pytest pytest-cov
          python -m pip install -e ".[dev]"
      - name: Download Models
        run: python -c "import pysipfenn; c = pysipfenn.Calculator(); c.downloadModels(); c.loadModels();"
           
      - name: Test with pytest
        run: pytest --cov=pysipfenn --cov-report=xml
        env:
          MODELS_FETCHED: true
          
  testPython311:
    needs: testPython310
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: 'pip'
          cache-dependency-path: 'pyproject.toml'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade setuptools
          python -m pip install wheel flask pytest pytest-cov
          python -m pip install -e ".[dev]"
      - name: Download Models
        run: python -c "import pysipfenn; c = pysipfenn.Calculator(); c.downloadModels(); c.loadModels();"
           
      - name: Test with pytest
        run: pytest --cov=pysipfenn --cov-report=xml
        env:
          MODELS_FETCHED: true
