name: Weekly Test Action (periodic verification everything works)

on:
  schedule:
      - cron: '30 17 * * 1'
  workflow_dispatch:
      
jobs:
  coreTests:
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
        platform: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: 'pyproject.toml'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install -e ".[test]"
      - name: Test with pytest
        run: |
          pytest --durations=0
          
  testFullPython311:
    needs: coreTests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'
          cache-dependency-path: 'pyproject.toml'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install -e ".[dev,test]"
      
      - name: Download Models
        id: DownloadModelsAttempt1
        run: python -c "import pysipfenn; c = pysipfenn.Calculator(); c.downloadModels(); c.loadModels();"
        continue-on-error: true
    
      - name: Download Models Retry if failed the first time
        if: steps.DownloadModelsAttempt1.outcome == 'failure'
        run: python -c "import time; time.sleep(120); import pysipfenn; c = pysipfenn.Calculator(autoLoad=False); c.downloadModels(); c.loadModels();"

      - name: Test with pytest
        run: pytest --durations=0
        env:
          MODELS_FETCHED: true
      
      
